body {
    margin: 0px;
    height: 100%;
    width: 100%;
    padding: 0;
}
.header_container{
    display: flex;
    justify-content: space-between;
}
.header_name ul {
    list-style: none;
    font-size: 12px;
}
.header_name #name {
    font-family: 'Montez', cursive; 
    font-size: 30px;
    color: blue;
}
.header_buttons{
    margin: 10px;
}
.header_buttons button{
    padding: 5px 10px;
    background-color: blue;
    color: white;
    border: none;
    box-shadow: 1px 1px 5px grey;
    cursor: pointer;
    margin-left: 10px;
}
.post_main_container{
    display: flex;
    flex-direction: column;
    width: 98%;
    height: 85vh;
    margin: 5px 23px 0px 20px;
}
.post_heading {
    font-weight: 700;
    font-size: large;
    display: block;
    justify-content: center;
    text-align: center;
    margin: 0 10px 0 10px;
}
.post_heading p{
    margin:5px
}
.post_author{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px 0 10px;
}
.post_author p {
    margin:5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#post_author_button{
    border: none; 
    background-color: rgb(173, 38, 173); 
    padding: 5px 20px 5px 20px;
}
.post_text{
    background-color: white;
    margin: 10px 10px 10px 10px;
   font-size: small; 
   font-weight: 500;
   text-align: justify;
}
.post_text p{
   margin: 0;
}

.post_like button{
    margin-left:10px; 
    margin-top: auto;
    padding: 4px 10px 4px 10px ;
    background-color: rgb(236, 54, 85);
    border: none;
    color: aliceblue;
}
.post_like_msg{
    margin-left: 10px;
    margin-top: 5px;
    color: grey;
    font-family: monospace;
    font-size: small;
}
.post_textbox textarea {
    width: 70%; 
    margin-top: 10px;
    box-sizing: border-box; 
    resize: vertical;
    margin-left: 10px;
    font-size: small;
}
.post_comment_btn button{
    margin-left: 10px;
    font-size: small;
    background-color: rgb(236, 54, 85);
    text-align: center;
    color: white;
    border: none;
    padding: 4px 8px 4px 8px;
}
.comment_heading {
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 600;
    margin-bottom: 0;
}
.post_comment_box{
    width: 71%; 
    margin-left: 10px;
    margin-top: 0;
    padding: 5px;
    background-color: rgb(197, 191, 191);
}
.post_each_comment p {
    margin: 5px;
    background-color: white;
    padding:5px 1px 5px 10px;
    font-size: small;
}
