body {
    margin: 0px;
    height: 100%;
    width: 100%;
    padding: 0px;
    background-color: #FFEEDD;
    overflow: hidden;
}
.header_container {
    display: flex;
    justify-content: space-between;
}
.header_name ul {
    list-style: none;
    font-size: 12px;
}
.header_name #name {
    font-family: 'Montez', cursive; 
    font-size: 30px;
    color: blue;
}
.header_buttons {
    margin: 10px;
}
.header_buttons button {
    padding: 5px 10px;
    background-color: blue;
    color: white;
    border: none;
    box-shadow: 1px 1px 5px grey;
    cursor: pointer;
    margin-left: 10px;
}
.main_container {
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
}
.main_box{
    display: flex;
    border-radius: 20px;
    background-color: rgb(206, 203, 203);
    width: 40%;
    margin: 20px;
    height: 23vh;
    box-shadow: 4px 6px 10px grey;
    overflow: hidden;
    
}
.top-section{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 15px 0 0;
}
.main_box_name {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px;
    font-weight: 500;
    color: rgb(102, 101, 101);
}
.text{
    padding: 0px 10px 0px 10px;
    font-weight: 400;
    color: black;
    overflow: hidden;
    height: 10vh;
}
.text-heading{
    padding: 0 10px 0 10px;
    color: rgb(110, 109, 109);
}